body{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* border: 1px black solid; */
    height: 680px;
    
}


header{

    border: 1px rgb(21, 128, 216) solid;
    height: 10%;
    width: 100%;
}


.content{

    border: 1px rgb(228, 224, 17) solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 78%;
    width: 100%;
}

.main-content{

    border: 1px solid rgb(77, 224, 9);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 98%;
    width: 79%;


}

.main-content-top{

    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 98%;
    height: 48%;
}

.main-content-bottom{

    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 98%;
    height: 48%;
}

.main-content-bottom-left, .main-content-bottom-right, .main-content-top-left, .main-content-top-right{


    border: 1px rgb(245, 134, 6) dashed;
    width: 49%;
    height: 96%;
}



.side-bar-content{

    border: 1px solid rgb(238, 10, 181);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 98%;
    width: 19%;

}

    .side-bar-right, .side-bar-left{

        border: 1px goldenrod dotted;
        width: 47%;
        height: 99%;


    }

footer{

    border: 1px rgb(240, 9, 9) solid;
    height: 10%;
    width: 100%;
}


